body{
    /*background-color: #655580;*/
    background-image: url("https://i.pinimg.com/originals/f1/0f/4e/f10f4eecbafe16d7a2b50a8e06d121f8.gif");
    background-size: 100%;
}

h1{
    color: rgb(190, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.barrBusqueda{
    margin: auto;
    width: 50%;
    border: 0;
    padding: 20%;
    margin-left: 13%;
    margin-top: 3%;
    
}

input {
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    float: left;
    font-size: 16px;
}


.addBtn {
    padding: 7px;
    width: 15%;
    background: #ff0000;
    color: rgb(255, 255, 255);
    float: left;
    text-align: center;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
  }

  .addBtn:hover{
      background-color: #860000;
  }